flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a7e1b8fcd4819f8",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "d10ceb052fe035f1"
            ]
        ]
    },
    {
        "id": "d10ceb052fe035f1",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "3cce38abba84358a",
        "type": "split",
        "z": "3af82246.3634ae",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 460,
        "y": 300,
        "wires": [
            []
        ]
    }
]